openapi: 3.0.3
info:
  title: Finage Market Data API
  description: Finage is a real-time and historical market data provider covering US and global stocks, forex, cryptocurrencies,
    indices, ETFs, bonds, and company fundamentals. This OpenAPI was generated by API Evangelist from Finage's own
    machine-readable docs database (https://api.finage.co.uk/op/v1/endpoints/list — the same JSON the docs at https://finage.co.uk/docs/api
    render); every path, parameter, and example comes from that source. All endpoints are read-only GET requests
    authenticated with an apikey query parameter. Responses must be requested with gzip Accept-Encoding (the API
    returns 406 "GZip compression required" otherwise).
  version: 1.0.0
  contact:
    name: Finage Support
    email: support@finage.co.uk
    url: https://finage.co.uk
  x-apievangelist:
    generated: '2026-07-22'
    method: generated
    source: https://api.finage.co.uk/op/v1/endpoints/list
externalDocs:
  description: Finage API documentation
  url: https://finage.co.uk/docs/api
servers:
- url: https://api.finage.co.uk
security:
- apiKey: []
tags:
- name: US Stocks
- name: Forex
- name: Crypto
- name: Indices
- name: ETFs
- name: UK Stocks
- name: Indian Stocks
- name: Canadian Stocks
- name: Russian Stocks
- name: Bonds
- name: Fundamentals
paths:
  /last/stock/{symbol}:
    get:
      operationId: stockLastQuote
      summary: Stock Last Quote
      description: You can get the last quote for a symbol with this endpoint.
      tags:
      - US Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: 'Symbol Name (eg: AAPL)'
        schema:
          type: string
      responses:
        '200':
          description: Stock Last Quote response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  ask:
                    type: number
                    description: Ask Price
                  bid:
                    type: number
                    description: Bid Price
                  asize:
                    type: integer
                    description: Ask Size
                  bsize:
                    type: integer
                    description: Bid Size
                  timestamp:
                    type: integer
                    format: int64
                    description: Last Update Time
              example:
                symbol: AAPL
                ask: 118.55
                bid: 118.53
                asize: 3
                bsize: 1
                timestamp: 1604710766331
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/trade/stock/{symbol}:
    get:
      operationId: stockLastTrade
      summary: Stock Last Trade
      description: You can get the last trade for a symbol with this endpoint.
      tags:
      - US Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol Name
        schema:
          type: string
      responses:
        '200':
          description: Stock Last Trade response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  price:
                    type: number
                    description: Trade Price
                  size:
                    type: integer
                    description: Trade Size
                  timestamp:
                    type: integer
                    format: int64
                    description: Last Update Time
              example:
                symbol: AAPL
                price: 131.99
                size: 5
                timestamp: 1608847193770
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/stock/{symbol}/{multiply}/{time}/{from}/{to}:
    get:
      operationId: stockMarketAggregatesApi
      summary: Stock Market Aggregates API
      description: With the Stock Market Aggregates endpoint, you can get the OHLCV bars of the stock market.
      tags:
      - US Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol Name
        schema:
          type: string
      - name: multiply
        in: path
        required: true
        description: Time Multiplier
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [minute, hour, day, week, month, quarter, year]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 50000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      - name: dbt_filter
        in: query
        required: false
        description: Daily-based time filter. You can allow the time filters to filter daily based. Otherwise, the
          filter will only trim the start and end of the output. Default is false.
        schema:
          type: string
      - name: st
        in: query
        required: false
        description: Start time in UTC. (Eg. 17:30)
        schema:
          type: string
      - name: et
        in: query
        required: false
        description: End time in UTC. (Eg. 17:45)
        schema:
          type: string
      - name: date_format
        in: query
        required: false
        description: 'Choose date format: ''dt'' for datetime or ''ts'' for timestamp. [Default: timestamp]'
        schema:
          type: string
      responses:
        '200':
          description: Stock Market Aggregates API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  totalResults:
                    type: integer
                    description: Result Count
                  o:
                    type: number
                    description: Open Price
                  h:
                    type: number
                    description: Highest Price
                  l:
                    type: number
                    description: Lowest Price
                  c:
                    type: number
                    description: Close Price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp
              example:
                symbol: AAPL
                totalResults: 3
                results:
                - o: 80.88
                  h: 81.19
                  l: 79.7375
                  c: 80.3625
                  v: 118746872
                  t: 1580878800000
                - o: 80.6425
                  h: 81.305
                  l: 80.0662
                  c: 81.3025
                  v: 105392140
                  t: 1580965200000
                - o: 80.5925
                  h: 80.85
                  l: 79.5
                  c: 80.0075
                  v: 117684048
                  t: 1581051600000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/stock/prev-close/{symbol}:
    get:
      operationId: stockMarketPreviousClose
      summary: Stock Market Previous Close
      description: With the Stock Market Previous Close API, you can get the historiacal end of day data and also
        previous day's last tick bar of the stock market.
      tags:
      - US Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the stock
        schema:
          type: string
      responses:
        '200':
          description: Stock Market Previous Close response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the stock
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: High price
                  l:
                    type: number
                    description: Low price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: AAPL
                totalResults: 1
                results:
                - o: 124.81
                  h: 125.71
                  l: 121.84
                  c: 122.06
                  v: 112966340
                  t: 1614805200000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /snapshot/stock:
    get:
      operationId: stockSnapshotApi
      summary: Stock Snapshot API
      description: Stock Snapshot API will give you access to all U.S Market with one single API request. You can
        get the latest trades, quotes or both of them with one request.
      tags:
      - US Stocks
      parameters:
      - name: quotes
        in: query
        required: true
        description: Enable or disable last quotes. Default is true.
        schema:
          type: string
      - name: trades
        in: query
        required: true
        description: Enable or disable last trades. Default is false.
        schema:
          type: string
      - name: symbols
        in: query
        required: true
        description: You can get the data from specific symbols by using this query. If you leave it empty, you
          will get the all available last data. (Separate symbols with commas.)
        schema:
          type: string
      responses:
        '200':
          description: Stock Snapshot API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  s:
                    type: string
                    description: Stock symbol
                  p:
                    type: number
                    description: Last trade price
                  a:
                    type: number
                    description: Last ask price
                  b:
                    type: number
                    description: Last bid price
                  asz:
                    type: integer
                    description: Ask size
                  bsz:
                    type: integer
                    description: Bid size
                  sz:
                    type: integer
                    description: Trade size
                  t:
                    type: integer
                    format: int64
                    description: Timestamp (microseconds)
                  totalResults:
                    type: integer
                    description: Total incoming symbol number.
              example:
                totalResults: 1
                lastQuotes:
                - s: AAPL
                  a: 215.604252
                  b: 215.407484
                  asz: 1
                  bsz: 5
                  t: 1726494971049
                lastTrades:
                - s: AAPL
                  p: 215.505522
                  sz: 1
                  t: 1726494971049
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/forex/{symbol}:
    get:
      operationId: forexLastQuote
      summary: Forex Last Quote
      description: You can get the last quote for a symbol with this endpoint.
      tags:
      - Forex
      parameters:
      - name: symbol
        in: path
        required: true
        description: Forex symbol that you want to get prices
        schema:
          type: string
      responses:
        '200':
          description: Forex Last Quote response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the currency
                  ask:
                    type: number
                    description: Ask price
                  bid:
                    type: number
                    description: Bid price
                  timestamp:
                    type: integer
                    format: int64
                    description: Last update (Defult is ms)
              example:
                symbol: GBPUSD
                ask: 1.36305
                bid: 1.36292
                timestamp: 1609875979000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/trade/forex/{symbol}:
    get:
      operationId: forexLastTrade
      summary: Forex Last Trade
      description: You can get the last trade price for a symbol with this endpoint.
      tags:
      - Forex
      parameters:
      - name: symbol
        in: path
        required: true
        description: Forex symbol that you want to get the last trade price
        schema:
          type: string
      responses:
        '200':
          description: Forex Last Trade response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the currency
                  price:
                    type: number
                    description: Last Price
                  timestamp:
                    type: integer
                    format: int64
                    description: Last update (Defult is ms)
              example:
                symbol: GBPUSD
                price: 1.37
                timestamp: 1618001940
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/forex/{symbol}/{multiply}/{time}/{from}/{to}:
    get:
      operationId: forexAggregates
      summary: Forex Aggregates
      description: With the Forex Aggregates API, you can get the tick bars of the forex symbol.
      tags:
      - Forex
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol Name
        schema:
          type: string
      - name: multiply
        in: path
        required: true
        description: Time Multiplier
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [minute, hour, day, week, month, quarter, year]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 50000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      - name: dbt_filter
        in: query
        required: false
        description: Daily-based time filter. You can allow the time filters to filter daily based. Otherwise, the
          filter will only trim the start and end of the output. Default is false.
        schema:
          type: string
      - name: st
        in: query
        required: false
        description: Start time in UTC. (Eg. 17:30)
        schema:
          type: string
      - name: et
        in: query
        required: false
        description: End time in UTC. (Eg. 17:45)
        schema:
          type: string
      - name: date_format
        in: query
        required: false
        description: You can change the format of the date in the results. ts is timestamp, dt is datetime. [Default
          is dt]
        schema:
          type: string
      responses:
        '200':
          description: Forex Aggregates response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  totalResults:
                    type: integer
                    description: Result Count
                  o:
                    type: number
                    description: Open Price
                  h:
                    type: number
                    description: Highest Price
                  c:
                    type: number
                    description: Close Price
                  l:
                    type: number
                    description: Lowest Price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp
              example:
                symbol: GBPUSD
                totalResults: 4
                results:
                - v: 254
                  o: 1.3642
                  c: 1.3667
                  h: 1.3677
                  l: 1.3642
                  t: 1609477200000
                - v: 300
                  o: 1.367
                  c: 1.3685
                  h: 1.369
                  l: 1.366
                  t: 1609480800000
                - v: 275
                  o: 1.3685
                  c: 1.37
                  h: 1.371
                  l: 1.368
                  t: 1609484400000
                - v: 320
                  o: 1.37
                  c: 1.372
                  h: 1.373
                  l: 1.3695
                  t: 1609488000000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/forex/prev-close/{symbol}:
    get:
      operationId: forexPreviousClose
      summary: Forex Previous Close
      description: With the Forex Previous Close API, you can get the previous day's last tick bar of the forex
        market.
      tags:
      - Forex
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the currency
        schema:
          type: string
      responses:
        '200':
          description: Forex Previous Close response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the currency
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: GBPUSD
                totalResults: 1
                results:
                - o: 1.40456
                  h: 1.41105
                  l: 1.4034
                  c: 1.40948
                  v: 103566
                  t: 1621036799999
        '401':
          $ref: '#/components/responses/Unauthorized'
  /convert/forex/{from}/{to}/{amount}:
    get:
      operationId: forexCurrencyConverterApi
      summary: Forex Currency Converter API
      description: With this endpoint, you can convert the currencies with the real-time prices.
      tags:
      - Forex
      parameters:
      - name: from
        in: path
        required: true
        description: '"From" symbol of the currency.'
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: '"To" symbol of the currency.'
        schema:
          type: string
      - name: amount
        in: path
        required: true
        description: The amount to convert.
        schema:
          type: string
      responses:
        '200':
          description: Forex Currency Converter API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  from:
                    type: string
                    description: '"From" symbol of the currency.'
                  to:
                    type: string
                    description: '"To" symbol of the currency.'
                  amount:
                    type: integer
                    description: The amount to convert.
                  value:
                    type: number
                    description: Converted amount.
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                from: GBP
                to: USD
                amount: 3
                value: 4.2285
                timestamp: 1621027210000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/crypto/{symbol}:
    get:
      operationId: cryptoLastTradeApi
      summary: Crypto Last Trade API
      description: You can get the prices in Real-Time with this endpoint.
      tags:
      - Crypto
      parameters:
      - name: symbol
        in: path
        required: true
        description: Crypto symbol that you want to get price
        schema:
          type: string
      responses:
        '200':
          description: Crypto Last Trade API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol name
                  price:
                    type: number
                    description: Latest price
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: BTCUSD
                price: 56385.08
                timestamp: 1620757059440
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/quote/crypto/{symbol}:
    get:
      operationId: cryptoLastQuoteApi
      summary: Crypto Last Quote API
      description: You can get the last quote prices in Real-Time with this endpoint.
      tags:
      - Crypto
      parameters:
      - name: symbol
        in: path
        required: true
        description: 'Symbol Name (eg: BTCUSD)'
        schema:
          type: string
      responses:
        '200':
          description: Crypto Last Quote API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol name
                  ask:
                    type: number
                    description: Ask price
                  asize:
                    type: number
                    description: Ask size
                  bid:
                    type: number
                    description: Bid price
                  bsize:
                    type: number
                    description: Bid size
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: BTCUSD
                ask: 56385.07
                asize: 0.075349
                bid: 56385.06
                bsize: 0.36976
                timestamp: 1620757064667
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/crypto/{symbol}/{multiply}/{time}/{from}/{to}:
    get:
      operationId: cryptoAggregatesApi
      summary: Crypto Aggregates API
      description: With the Crypto Market Aggregates API, you can get the tick bars of the crypto market.
      tags:
      - Crypto
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the crypto
        schema:
          type: string
      - name: multiply
        in: path
        required: true
        description: Time multiplier [1, 3, 5, 15, 30]
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [minute, hour, day, week, month]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 50000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      responses:
        '200':
          description: Crypto Aggregates API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  totalResults:
                    type: integer
                    description: Result Count
                  o:
                    type: number
                    description: Open Price
                  h:
                    type: number
                    description: Highest Price
                  l:
                    type: number
                    description: Lowest Price
                  c:
                    type: number
                    description: Close Price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp
              example:
                symbol: BTCUSD
                totalResults: 3
                results:
                - o: 9164.33
                  h: 9775
                  l: 9142.52
                  c: 9613.82
                  v: 54480.149862462065
                  t: 1580860800000
                - o: 9613.91
                  h: 9863.39
                  l: 9520
                  c: 9763.01
                  v: 61112.15618754777
                  t: 1580947200000
                - o: 9763.01
                  h: 9885
                  l: 9683.9
                  c: 9805.2
                  v: 45132.69009042265
                  t: 1581033600000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/crypto/prev-close/{symbol}:
    get:
      operationId: cryptoPreviousCloseApi
      summary: Crypto Previous Close API
      description: With the Crypto Previous Close endpoint, you can get the previous day's last tick bar of the
        crypto market.
      tags:
      - Crypto
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the crypto
        schema:
          type: string
      responses:
        '200':
          description: Crypto Previous Close API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  totalResults:
                    type: integer
                    description: Result Count
                  o:
                    type: number
                    description: Open Price
                  h:
                    type: number
                    description: Highest Price
                  l:
                    type: number
                    description: Lowest Price
                  c:
                    type: number
                    description: Close Price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp
              example:
                symbol: BTCUSD
                totalResults: 1
                results:
                - o: 55816.14
                  h: 56850
                  l: 54370
                  c: 56672.24
                  v: 57725.397404
                  t: 1620691200000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /convert/crypto/{from}/{to}/{amount}:
    get:
      operationId: cryptoConverterApi
      summary: Crypto Converter API
      description: You can convert crypto by using this API. (eg. BTC to ETH, USD to DOGE, SHIB to BTC etc.)
      tags:
      - Crypto
      parameters:
      - name: from
        in: path
        required: true
        description: '"From" symbol of the crypto.'
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: '"To" symbol of the crypto.'
        schema:
          type: string
      - name: amount
        in: path
        required: true
        description: The amount to convert.
        schema:
          type: string
      responses:
        '200':
          description: Crypto Converter API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  from:
                    type: string
                    description: '"From" symbol of the crypto.'
                  to:
                    type: string
                    description: '"To" symbol of the crypto.'
                  amount:
                    type: integer
                    description: The amount to convert.
                  value:
                    type: number
                    description: Converted amount.
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                from: BTC
                to: ETH
                amount: 2
                value: 58.7583
                timestamp: 1732019680104
        '401':
          $ref: '#/components/responses/Unauthorized'
  /snapshot/crypto:
    get:
      operationId: cryptoSnapshotApi
      summary: Crypto Snapshot API
      description: Crypto Snapshot API will give you access to all available crypto with one single API request.
        You can get the latest trades, quotes or both of them with one request.
      tags:
      - Crypto
      parameters:
      - name: quotes
        in: query
        required: true
        description: Enable or disable last quotes. Default is true.
        schema:
          type: string
      - name: trades
        in: query
        required: true
        description: Enable or disable last trades. Default is false.
        schema:
          type: string
      - name: symbols
        in: query
        required: true
        description: You can get the data from specific symbols by using this query. If you leave it empty, you
          will get the all available last data. (Separate symbols with commas.)
        schema:
          type: string
      responses:
        '200':
          description: Crypto Snapshot API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  s:
                    type: string
                    description: Crypto symbol
                  p:
                    type: number
                    description: Last trade price
                  a:
                    type: number
                    description: Last ask price
                  b:
                    type: number
                    description: Last bid price
                  asz:
                    type: integer
                    description: Ask size
                  bsz:
                    type: integer
                    description: Bid size
                  sz:
                    type: integer
                    description: Trade size
                  t:
                    type: integer
                    format: int64
                    description: Timestamp (microseconds)
                  totalResults:
                    type: integer
                    description: Total incoming symbol number.
              example:
                totalResults: 2
                lastQuotes:
                - s: BTCUSD
                  a: 44361.36
                  b: 44356.82
                  asz: 0.00043
                  bsz: 0.19834
                  t: 1644505310197
                - s: DOGEUSD
                  a: 0.1548
                  b: 0.1547
                  asz: 133376
                  bsz: 138504
                  t: 1644505310197
                lastTrades:
                - s: BTCUSD
                  p: 44447.81
                  sz: 0.1
                  t: 1644505310197
                - s: DOGEUSD
                  p: 0.1550595
                  sz: 136211.88
                  t: 1644505310197
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/index/{symbol}:
    get:
      operationId: cfdIndexLastPrice
      summary: CFD Index Last Price
      description: You can get the last quote for a symbol with this endpoint.
      tags:
      - Indices
      parameters:
      - name: symbol
        in: path
        required: true
        description: Index symbol that you want to get prices
        schema:
          type: string
      responses:
        '200':
          description: CFD Index Last Price response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol name
                  price:
                    type: number
                    description: Latest price
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: US2000
                price: 2369.2399
                timestamp: 1763928807660
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/index/{symbol}/{time}/{from}/{to}:
    get:
      operationId: cfdIndexMarketAggregatesApi
      summary: CFD Index Market Aggregates API
      description: With the Index Market Aggregates API, you can get the tick bars of the index market.
      tags:
      - Indices
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol Name
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [1min, 5min, 15min, 30min, 45min, 1h, 2h, 4h, 1day, 1week, 1month]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date [yyyy-MM-dd]
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date [yyyy-MM-dd]
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 5000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      - name: date_format
        in: query
        required: false
        description: 'Choose date format: ''dt'' for datetime or ''ts'' for timestamp. [Default: timestamp]'
        schema:
          type: string
      - name: dbt_filter
        in: query
        required: false
        description: Daily-based time filter. You can allow the time filters to filter daily based. Otherwise, the
          filter will only trim the start and end of the output. Default is false.
        schema:
          type: string
      - name: st
        in: query
        required: false
        description: Start time in UTC. (Eg. 17:30)
        schema:
          type: string
      - name: et
        in: query
        required: true
        description: End time in UTC. (Eg. 17:45)
        schema:
          type: string
      responses:
        '200':
          description: CFD Index Market Aggregates API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the index
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: US2000
                totalResults: 3
                results:
                - o: 2478.74956
                  h: 2478.74956
                  l: 2478.74956
                  c: 2478.74956
                  v: 1
                  t: 1761955200000
                - o: 2479.0647
                  h: 2481.97639
                  l: 2441.67663
                  c: 2470.5729
                  v: 9238
                  t: 1762128000000
                - o: 2470.69648
                  h: 2470.96822
                  l: 2425.40043
                  c: 2427.13484
                  v: 10237
                  t: 1762214400000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/index/prev-close/{symbol}:
    get:
      operationId: cfdIndexPreviousCloseApi
      summary: CFD Index Previous Close API
      description: With the Index Previous Close API, you can get the previous day's last tick bar of the index
        market.
      tags:
      - Indices
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the index
        schema:
          type: string
      responses:
        '200':
          description: CFD Index Previous Close API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol name
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: US2000
                totalResults: 1
                results:
                - o: 2368.88983
                  h: 2369.23994
                  l: 2368.88983
                  c: 2369.23994
                  v: 2
                  t: 1763928780000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/etf/{symbol}:
    get:
      operationId: cfdEtfLastPrice
      summary: CFD ETF Last Price
      description: You can get the last ETFs price for a symbol with this endpoint.
      tags:
      - ETFs
      parameters:
      - name: symbol
        in: path
        required: true
        description: ETF symbol that you want to get prices
        schema:
          type: string
      responses:
        '200':
          description: CFD ETF Last Price response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the ETF
                  price:
                    type: number
                    description: Last price of the ETF
                  timestamp:
                    type: integer
                    format: int64
                    description: Last update [ms]
              example:
                symbol: QQQ
                price: 319.1413
                timestamp: 1614717768911
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/etf/{symbol}/{time}/{from}/{to}:
    get:
      operationId: cfdEtfMarketAggregatesApi
      summary: CFD ETF Market Aggregates API
      description: With the CFD ETF Market Aggregates API, you can get the tick bars of the ETF (Exchange Traded
        Fund) market.
      tags:
      - ETFs
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the ETF
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [1min, 5min, 15min, 30min, 45min, 1h, 2h, 4h, 1day, 1week, 1month]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date [yyyy-MM-dd]
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date [yyyy-MM-dd]
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 5000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      - name: date_format
        in: query
        required: false
        description: 'Choose date format: ''dt'' for datetime or ''ts'' for timestamp. [Default: timestamp]'
        schema:
          type: string
      - name: dbt_filter
        in: query
        required: false
        description: Daily-based time filter. You can allow the time filters to filter daily based. Otherwise, the
          filter will only trim the start and end of the output. Default is false.
        schema:
          type: string
      - name: st
        in: query
        required: false
        description: Start time in UTC. (Eg. 17:30)
        schema:
          type: string
      - name: et
        in: query
        required: false
        description: End time in UTC. (Eg. 17:45)
        schema:
          type: string
      responses:
        '200':
          description: CFD ETF Market Aggregates API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the ETF
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: QQQ
                totalResults: 16
                results:
                - o: '331.22000'
                  h: '332.40250'
                  l: '329.53000'
                  c: '331.48001'
                  v: '20774820'
                  t: '2021-02-05'
                - o: '333.10001'
                  h: '333.73999'
                  l: '331.41010'
                  c: '333.59000'
                  v: '18421116'
                  t: '2021-02-08'
                - o: '332.66000'
                  h: '334.79990'
                  l: '332.65381'
                  c: '333.48999'
                  v: '16706362'
                  t: '2021-02-09'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/etf/prev-close/{symbol}:
    get:
      operationId: cfdEtfPreviousCloseApi
      summary: CFD ETF Previous Close API
      description: With the ETF Previous Close API, you can get the previous day's last tick bar of the ETF market.
      tags:
      - ETFs
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the ETF
        schema:
          type: string
      responses:
        '200':
          description: CFD ETF Previous Close API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the ETF
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: QQQ
                totalResults: 1
                results:
                - o: 364.84
                  h: 365.48001
                  l: 362.22
                  c: 362.98001
                  v: 34110963
                  t: 1626220800000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/stock/uk/{symbol}:
    get:
      operationId: ukMarketLastPrice
      summary: UK Market Last Price
      description: Finage has more than 1200+ UK stock market data in delayed. You can get the last price for a
        symbol with this endpoint.
      tags:
      - UK Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: UK stock symbol that you want to get price
        schema:
          type: string
      responses:
        '200':
          description: UK Market Last Price response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the UK market
                  price:
                    type: number
                    description: Last price of the UK market
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: BP
                price: 362.5
                timestamp: 1749480797111
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/stock/global/uk/{symbol}/{time}/{from}/{to}:
    get:
      operationId: ukMarketAggregates
      summary: UK Market Aggregates
      description: With the UK Market Aggregates API, you can get the tick bars of the UK market.
      tags:
      - UK Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the UK Market
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [1min, 5min, 15min, 30min, 45min, 1h, 2h, 4h, 1day, 1week, 1month]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date [yyyy-MM-dd]
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date [yyyy-MM-dd]
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 5000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      - name: date_format
        in: query
        required: false
        description: 'Choose date format: ''dt'' for datetime or ''ts'' for timestamp. [Default: timestamp]'
        schema:
          type: string
      - name: dbt_filter
        in: query
        required: false
        description: Daily-based time filter. You can allow the time filters to filter daily based. Otherwise, the
          filter will only trim the start and end of the output. Default is false.
        schema:
          type: string
      - name: st
        in: query
        required: false
        description: Start time in UTC. (Eg. 17:30)
        schema:
          type: string
      - name: et
        in: query
        required: false
        description: End time in UTC. (Eg. 17:45)
        schema:
          type: string
      responses:
        '200':
          description: UK Market Aggregates response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: |
                      Symbol of the UK Market
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: BP
                totalResults: 3
                results:
                - o: 360.29999
                  h: 365.64999
                  l: 359.75
                  c: 363.10001
                  v: 57424797
                  t: 1748822400000
                - o: 363
                  h: 365.64999
                  l: 358.45001
                  c: 365.39999
                  v: 43808164
                  t: 1748908800000
                - o: 365.14999
                  h: 365.14999
                  l: 357.89999
                  c: 358.54999
                  v: 39426523
                  t: 1748995200000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/stock/in/{symbol}:
    get:
      operationId: indianMarketLastPrice
      summary: Indian Market Last Price
      description: Finage has more than 4900+ Indian market data in delayed. You can get the last price for a symbol
        with this endpoint.
      tags:
      - Indian Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Indian stock symbol that you want to get price
        schema:
          type: string
      responses:
        '200':
          description: Indian Market Last Price response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the Indian market
                  price:
                    type: number
                    description: Last price of the Indian market
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: TATAPOWER
                price: 218.64999
                timestamp: 1638203173859
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/stock/global/in/{symbol}/{time}/{from}/{to}:
    get:
      operationId: indianMarketAggregates
      summary: Indian Market Aggregates
      description: With the Indian Market Aggregates API, you can get the tick bars of the Indian market.
      tags:
      - Indian Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the Indian Market
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [1min, 5min, 15min, 30min, 45min, 1h, 2h, 4h, 1day, 1week, 1month]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date [yyyy-MM-dd]
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date [yyyy-MM-dd]
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 5000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      - name: date_format
        in: query
        required: false
        description: 'Choose date format: ''dt'' for datetime or ''ts'' for timestamp. [Default: timestamp]'
        schema:
          type: string
      - name: dbt_filter
        in: query
        required: false
        description: Daily-based time filter. You can allow the time filters to filter daily based. Otherwise, the
          filter will only trim the start and end of the output. Default is false.
        schema:
          type: string
      - name: st
        in: query
        required: false
        description: Start time in UTC. (Eg. 17:30)
        schema:
          type: string
      - name: et
        in: query
        required: false
        description: End time in UTC. (Eg. 17:45)
        schema:
          type: string
      responses:
        '200':
          description: Indian Market Aggregates response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the Indian Market
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: IDEA
                totalResults: 21
                results:
                - o: '8.35000'
                  h: '8.50000'
                  l: '8.10000'
                  c: '8.30000'
                  v: '219484526'
                  t: '2021-07-26T12:00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/stock/ca/{symbol}:
    get:
      operationId: canadaMarketLastPrice
      summary: Canada Market Last Price
      description: Finage has more than 2300+ Canada market data in real-time. You can get the last price for a
        symbol with this endpoint.
      tags:
      - Canadian Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Canada stock symbol that you want to get price
        schema:
          type: string
      responses:
        '200':
          description: Canada Market Last Price response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the Canada market
                  price:
                    type: number
                    description: Last price of the Canada market
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: TBP
                price: 0.215
                timestamp: 1615225685191
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/stock/global/ca/{symbol}/{time}/{from}/{to}:
    get:
      operationId: canadaMarketAggregates
      summary: Canada Market Aggregates
      description: With the Canada Market Aggregates API, you can get the tick bars of the Canada market.
      tags:
      - Canadian Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the Canada Market
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [1min, 5min, 15min, 30min, 45min, 1h, 2h, 4h, 1day, 1week, 1month]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date [yyyy-MM-dd]
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date [yyyy-MM-dd]
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 5000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      - name: date_format
        in: query
        required: false
        description: 'Choose date format: ''dt'' for datetime or ''ts'' for timestamp. [Default: timestamp]'
        schema:
          type: string
      - name: dbt_filter
        in: query
        required: false
        description: Daily-based time filter. You can allow the time filters to filter daily based. Otherwise, the
          filter will only trim the start and end of the output. Default is false.
        schema:
          type: string
      - name: st
        in: query
        required: false
        description: Start time in UTC. (Eg. 17:30)
        schema:
          type: string
      - name: et
        in: query
        required: false
        description: End time in UTC. (Eg. 17:45)
        schema:
          type: string
      responses:
        '200':
          description: Canada Market Aggregates response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the Canada Market
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: BB
                totalResults: 3
                results:
                - o: '15.15000'
                  h: '15.16000'
                  l: '13.05000'
                  c: '13.31000'
                  v: '12869600'
                  t: '2021-02-25'
                - o: '13.30000'
                  h: '13.65000'
                  l: '12.70000'
                  c: '12.87000'
                  v: '8049441'
                  t: '2021-02-26'
                - o: '13.14000'
                  h: '14.23000'
                  l: '13.08000'
                  c: '13.79000'
                  v: '6206248'
                  t: '2021-03-01'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /last/stock/ru/{symbol}:
    get:
      operationId: russianMarketLastPrice
      summary: Russian Market Last Price
      description: Finage has more than 240+ Russian market data in real-time. You can get the last price for a
        symbol with this endpoint.
      tags:
      - Russian Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Russian market symbol that you want to get the price
        schema:
          type: string
      responses:
        '200':
          description: Russian Market Last Price response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the Russian market
                  price:
                    type: number
                    description: Last price of the Russian market
                  timestamp:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: AFKS
                price: 36.2
                timestamp: 1618231273053
        '401':
          $ref: '#/components/responses/Unauthorized'
  /agg/stock/global/ru/{symbol}/{time}/{from}/{to}:
    get:
      operationId: russianMarketAggregates
      summary: Russian Market Aggregates
      description: With the Russian Market Aggregates API, you can get the tick bars of the Russian market.
      tags:
      - Russian Stocks
      parameters:
      - name: symbol
        in: path
        required: true
        description: Symbol of the Russian market
        schema:
          type: string
      - name: time
        in: path
        required: true
        description: Size of the time. [1min, 5min, 15min, 30min, 45min, 1h, 2h, 4h, 1day, 1week, 1month]
        schema:
          type: string
      - name: from
        in: path
        required: true
        description: Start date [yyyy-MM-dd]
        schema:
          type: string
      - name: to
        in: path
        required: true
        description: End date [yyyy-MM-dd]
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the results. Default is 100, maximum allowed limit is 5000. Please set a limit if
          you are using the API in the production.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: You can sort the results by timestamp. asc will return ascending results oldest to newest,
          desc will return descending results newest to oldest. Default is asc.
        schema:
          type: string
      - name: date_format
        in: query
        required: false
        description: 'Choose date format: ''dt'' for datetime or ''ts'' for timestamp. [Default: timestamp]'
        schema:
          type: string
      - name: dbt_filter
        in: query
        required: false
        description: Daily-based time filter. You can allow the time filters to filter daily based. Otherwise, the
          filter will only trim the start and end of the output. Default is false.
        schema:
          type: string
      - name: st
        in: query
        required: false
        description: Start time in UTC. (Eg. 17:30)
        schema:
          type: string
      - name: et
        in: query
        required: false
        description: End time in UTC. (Eg. 17:45)
        schema:
          type: string
      responses:
        '200':
          description: Russian Market Aggregates response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the Russian market
                  totalResults:
                    type: integer
                    description: Total result size
                  o:
                    type: number
                    description: Open price
                  h:
                    type: number
                    description: Highest price
                  l:
                    type: number
                    description: Lowest price
                  c:
                    type: number
                    description: Close price
                  v:
                    type: integer
                    description: Volume
                  t:
                    type: integer
                    format: int64
                    description: Timestamp [ms]
              example:
                symbol: AFKS
                totalResults: 3
                results:
                - o: '35.84300'
                  h: '36.29800'
                  l: '35.42100'
                  c: '35.96100'
                  v: '43280100'
                  t: '2021-02-25'
                - o: '35.50000'
                  h: '35.63000'
                  l: '34.69600'
                  c: '34.81700'
                  v: '42845300'
                  t: '2021-02-26'
                - o: '35.59100'
                  h: '35.66400'
                  l: '34.93300'
                  c: '35.04300'
                  v: '25099100'
                  t: '2021-03-01'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/bonds/us/rate/{symbol}:
    get:
      operationId: bondLastRate
      summary: Bond Last Rate
      description: |-
        With this endpoint, you can get the latest rates (percentage) of the bonds.

        Given table below includes name and the symbol of the bonds. You can use the symbol name in the brackets to make API requests.

        US 1M(DGS1MO)
        US 3M(DGS3MO)
        US 6M(DGS6MO)
        US 1Y(DGS1)
        US 2Y(DGS2)
        US 5Y(DGS5)
        US 7Y(DGS7)
        US 10Y(DGS10)
        US 20Y(DGS20)
        US 30Y(DGS30)
      tags:
      - Bonds
      parameters:
      - name: symbol
        in: path
        required: true
        description: Bond symbol that you want to get the last rate
        schema:
          type: string
      responses:
        '200':
          description: Bond Last Rate response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the bond
                  value:
                    type: number
                    description: Last rate (percentage) of the bond
                  date:
                    type: string
                    description: Last rate date.
              example:
                symbol: DGS1
                value: 0.06
                date: '2021-05-19'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /symbol-list/{type}:
    get:
      operationId: fullSymbolListApi
      summary: Full Symbol List API
      description: |-
        You can download and view our symbols and get more details from the symbols page. If you want to get the all symbols with one endpoint, this endpoint will be useful in your product.

        You can use our search endpoints to search one or more specific tickers.

        Forex and Crypto pages include 500 symbols, US Market pages include 2500 symbols.
      tags:
      - Fundamentals
      parameters:
      - name: type
        in: path
        required: true
        description: Market type (us-stock, ca-stock, in-stock, ru-stock, forex, crypto, index)
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Default page is 1
        schema:
          type: string
      - name: search
        in: query
        required: false
        description: 'You can search symbol or name by this query. (eg: BTC, or Bitcoin) [Optional]'
        schema:
          type: string
      responses:
        '200':
          description: Full Symbol List API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: Page number
                  symbols:
                    type: string
                    description: Symbol Descripiton
              example:
                page: 1
                symbols:
                - symbol: AEDAUD
                  name: 'United Arab Emirates dirham - Australian dollar '
                - symbol: AEDBHD
                  name: 'United Arab Emirates dirham - Bahraini dinar '
                - symbol: AEDCAD
                  name: 'United Arab Emirates dirham - Canadian dollar '
        '401':
          $ref: '#/components/responses/Unauthorized'
  /news/market/{symbol}:
    get:
      operationId: marketNewsApi
      summary: Market News API
      description: We provide you the latest market news via the Market News API.
      tags:
      - Fundamentals
      parameters:
      - name: symbol
        in: path
        required: true
        description: Stock symbol name
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the news. Default is 10 and maximum allowed limit is 30.
        schema:
          type: string
      responses:
        '200':
          description: Market News API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    description: Ticker name
                  limit:
                    type: integer
                    description: Limit amount
                  news:
                    type: array
                    items: &id001 {}
                    description: News
                  source:
                    type: string
                    description: Title of News
                  title:
                    type: string
                    description: Description of News
                  description:
                    type: string
                    description: Url Address
                  url:
                    type: string
                    description: News Source
                  date:
                    type: string
                    description: Date of News
              example:
                ticker: AMZN
                limit: 10
                news:
                - source: Seeking Alpha
                  title: Six Amazon warehouse workers confirmed dead after tornado strike
                  description: At least 30 tornados teared across six U.S. states on Friday and early Saturday morning,
                    with some even causing paths of destruction over 200 miles long
                  url: https://seekingalpha.com/news/3779358-six-amazon-warehouse-workers-confirmed-dead-after-tornado-strike
                  date: '2021-12-12T09:42:07.000Z'
                - source: Reuters
                  title: Six dead, no hope of more survivors after tornadoes destroy Amazon warehouse near St Louis
                  description: Six Amazon.com Inc workers were confirmed dead on Saturday after a series of tornadoes
                    roared through a warehouse near St. Louis, ripping off its roof and causing 11-inch thick concrete
                    walls longer than football fields to collapse on themselves.
                  url: https://www.reuters.com/article/us-usa-illinois-accident/six-dead-no-hope-of-more-survivors-after-tornadoes-destroy-amazon-warehouse-near-st-louis-idUSKBN2IQ03Z
                  date: '2021-12-12T02:35:44.000Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /news/forex/{symbol}:
    get:
      operationId: forexNewsApi
      summary: Forex News API
      description: By using our Forex News API, you can get the latest news about the currencies and the countries
        which is using the selected currency.
      tags:
      - Fundamentals
      parameters:
      - name: symbol
        in: path
        required: true
        description: Forex symbol name
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the news. Default is 10 and maximum allowed limit is 30.
        schema:
          type: string
      responses:
        '200':
          description: Forex News API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    description: Ticker Name
                  limit:
                    type: integer
                    description: Limit amount
                  news:
                    type: array
                    items: *id001
                    description: News
                  title:
                    type: string
                    description: Title of News
                  description:
                    type: string
                    description: Description of News
                  url:
                    type: string
                    description: Url Address
                  source:
                    type: string
                    description: News Source
                  date:
                    type: string
                    description: Date of News
              example:
                ticker: GBP
                limit: 10
                news:
                - title: United Kingdom 5 Year Note Yield
                  description: UK 5 Year Bond Yield was 0.33 percent on Thursday June 10, according to over-the-counter
                    interbank yield quotes for this government bond maturity. Historically, the United Kingdom 5
                    Year Note Yield reached an all time high of 13.58 in May of 1990.
                  url: https://tradingeconomics.com/united-kingdom/5-year-note-yield
                  source: Trading Economics
                  date: '2021-06-10T19:17:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /news/cryptocurrency/{symbol}:
    get:
      operationId: cryptoNewsApi
      summary: Crypto News API
      description: Finage's Crypto News API is the fastest crypto news API in the market. Our In-Memory Cache Engine
        will cache the old news according to the request frequency. It will help you to build faster websites and
        applications. Your customers will have a quick access without waiting for the news to load.
      tags:
      - Fundamentals
      parameters:
      - name: symbol
        in: path
        required: true
        description: Crypto symbol name [Eg. BTC, ETH, DOGE]
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Limit of the news. Default is 10 and maximum allowed limit is 30.
        schema:
          type: string
      responses:
        '200':
          description: Crypto News API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                    description: Ticker Name
                  limit:
                    type: integer
                    description: Limit amount
                  news:
                    type: string
                    description: News
                  title:
                    type: string
                    description: Title of News
                  description:
                    type: string
                    description: Description of News
                  url:
                    type: string
                    description: Url Address
                  source:
                    type: string
                    description: News Source
                  date:
                    type: string
                    description: Date of News
              example:
                ticker: BTC
                limit: 10
                news:
                - title: 'The Grayscale Bitcoin Trust on Track to Surpass the Largest Gold ETF: Bloomberg'
                  description: The massive BTC price surge and the ongoing institutional adoption could help the
                    Grayscale Bitcoin Trust surpass the largest commodity ETF soon.
                  url: https://cryptopotato.com/the-grayscale-bitcoin-trust-on-track-to-surpass-the-largest-gold-etf-bloomberg/
                  source: CryptoPotato
                  date: '2021-04-17T12:41:00+00:00'
                - title: 'On-Chain Analysis: This Is not What the Bitcoin Top Looks Like'
                  description: In today's on-chain analysis, we are trying to answer the question of whether there
                    are reasons to fear the ending of the ongoing Bitcoin bull run. We are looking at the activity
                    of long-term hodlers who stopped selling their coins again in the last week.
                  url: https://beincrypto.com/on-chain-analysis-this-is-not-what-the-bitcoin-top-looks-like/
                  source: BeInCrypto
                  date: '2021-04-17T12:30:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /marketstatus:
    get:
      operationId: marketStatusApi
      summary: Market Status API
      description: Market Status API is an endpoint that shows the market, forex and crypto statuses. You can check
        the market is closed, open or in extended hours with our Market Status API.
      tags:
      - Fundamentals
      parameters:
      - name: country
        in: query
        required: false
        description: Check the specified country's market status. Default is US
        schema:
          type: string
      - name: currencies
        in: query
        required: false
        description: You can display or hide currencies part from the output. Default is true.
        schema:
          type: string
      - name: holidays
        in: query
        required: false
        description: Display selected country's holidays. Default is false
        schema:
          type: string
      - name: trading_hours
        in: query
        required: false
        description: Display trading hours of the market. Default is false
        schema:
          type: string
      - name: extended_hours
        in: query
        required: false
        description: Display extended hours of the market. Default is false
        schema:
          type: string
      responses:
        '200':
          description: Market Status API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  market:
                    type: string
                    description: Market Status
                  timezone:
                    type: string
                    description: Timezone
                  country:
                    type: string
                    description: Country Short Code
                  exchanges:
                    type: array
                    items: *id001
                    description: Exchanges List
                  currencies:
                    type: array
                    items: *id001
                    description: Currency Market List
              example:
                market: open
                timezone: UTC-05:00
                country: US
                exchanges:
                  nyse: open
                  nasdaq: open
                  otc: open
                currencies:
                  fx: open
                  crypto: open
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/economic-calendar:
    get:
      operationId: economicCalendar
      summary: Economic Calendar
      description: |-
        Our Economic Calendar API will show you the previous and the future events. Choose the from and to dates to receive a certain range of events.

        In the economic calendar actual, previous, change, changePercentage or estimate value could be null according to the event or date of the event.
      tags:
      - Fundamentals
      parameters:
      - name: from
        in: query
        required: true
        description: Start date
        schema:
          type: string
      - name: to
        in: query
        required: true
        description: End date
        schema:
          type: string
      responses:
        '200':
          description: Economic Calendar response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    type: string
                    description: Event Name
                  date:
                    type: string
                    description: Date of Event
                  country:
                    type: string
                    description: County Short Code
                  countryFlag:
                    type: string
                    description: Country Flag Image
                  actual:
                    type: number
                    description: Actual Value
                  previous:
                    type: number
                    description: Previous Value
                  change:
                    type: number
                    description: Change Amount
                  changePercentage:
                    type: number
                    description: Change Percentage
                  estimate:
                    type: number
                    description: Estimate Amount
              example:
              - event: Personal Consumption Expenditures - Price Index (YoY)
                date: '2020-10-30 12:30:00'
                country: US
                countryFlag: https://finage.s3.eu-west-2.amazonaws.com/flags/160x120/us.png
                actual: 1.4
                previous: 1.3
                change: 0.1
                changePercentage: 7.692
                estimate: 1.3
              - event: Core Personal Consumption Expenditure - Price Index (MoM)
                date: '2020-10-30 12:30:00'
                country: US
                countryFlag: https://finage.s3.eu-west-2.amazonaws.com/flags/160x120/us.png
                actual: 0.2
                previous: 0.3
                change: -0.1
                changePercentage: 33.333
                estimate: 0.2
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/earning-calendar:
    get:
      operationId: earningsCalendar
      summary: Earnings Calendar
      description: |-
        Our Earnings Calendar API will show you the earnings release for companies.

        In the earnings calendar eps, estimated_eps, revenue, or estimated_revenue value could be null according to the event or date of the event.
      tags:
      - Fundamentals
      responses:
        '200':
          description: Earnings Calendar response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  eps:
                    type: number
                    description: EPS value
                  estimated_eps:
                    type: number
                    description: Estimated EPS
                  revenue:
                    type: number
                    description: Revenue Amount
                  estimated_revenue:
                    type: integer
                    description: Estimated Revenue Amount
                  time:
                    type: string
                    description: Time
                  date:
                    type: string
                    description: Date
              example:
              - symbol: XOG
                eps: null
                estimated_eps: 2.72
                revenue: 0
                estimated_revenue: 219400000
                time: bmo
                date: '2021-11-08'
              - symbol: CANSF
                eps: null
                estimated_eps: null
                revenue: 0
                estimated_revenue: 0
                time: bmo
                date: '2021-11-08'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/ipo-calendar:
    get:
      operationId: ipoCalendar
      summary: IPO Calendar
      description: |-
        Our IPO Calendar API will show you the recent and upcoming IPOs.

        In the IPO calendar shares, price_range, market_cap, value could be null according to the event or date of the event.
      tags:
      - Fundamentals
      parameters:
      - name: from
        in: query
        required: true
        description: Start date
        schema:
          type: string
      - name: to
        in: query
        required: true
        description: End date
        schema:
          type: string
      responses:
        '200':
          description: IPO Calendar response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  date:
                    type: string
                    description: Date
                  exchange:
                    type: string
                    description: Exchange
                  status:
                    type: string
                    description: Status of Stock
                  shares:
                    type: integer
                    description: Shares Amount
                  price_range:
                    type: string
                    description: Price Range
                  market_cap:
                    type: integer
                    description: Market Cap Value
                  company:
                    type: string
                    description: Company Name
              example:
              - symbol: JAB.P.V
                date: '2020-12-16'
                exchange: TSXV
                status: Priced
                shares: 1350000
                price_range: 0.11 - 0.11
                market_cap: 148500
                company: Jabbo Capital Corp
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/stock-split-calendar:
    get:
      operationId: stockSplitCalendar
      summary: Stock Split Calendar
      description: Our Stock Split API will show you the splits data.
      tags:
      - Fundamentals
      parameters:
      - name: from
        in: query
        required: true
        description: Start date
        schema:
          type: string
      - name: to
        in: query
        required: true
        description: End date
        schema:
          type: string
      responses:
        '200':
          description: Stock Split Calendar response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  numerator_factor:
                    type: integer
                    description: Numerator Factor
                  denominator_factor:
                    type: integer
                    description: Denomiator Factor Value
                  label:
                    type: string
                    description: Date Label
                  date:
                    type: string
                    description: Date
              example:
              - symbol: PILANIINVS.NS
                numerator_factor: 7
                denominator_factor: 5
                label: December 31, 20
                date: '2020-12-31'
              - symbol: AMRH
                numerator_factor: 1
                denominator_factor: 4
                label: December 31, 20
                date: '2020-12-31'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/historical-stock-splits/AAPL:
    get:
      operationId: historicalStockSplitCalendar
      summary: Historical Stock Split Calendar
      description: Our Historical Stock Split API will show you the splits data for a specific company.
      tags:
      - Fundamentals
      parameters:
      - name: symbol
        in: query
        required: true
        description: Stock symbol name
        schema:
          type: string
      responses:
        '200':
          description: Historical Stock Split Calendar response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  numerator_factor:
                    type: integer
                    description: Numerator Factor
                  denominator_factor:
                    type: integer
                    description: Denominator Factor
                  label:
                    type: string
                    description: Label Date
                  date:
                    type: string
                    description: Date
              example:
              - numerator_factor: 4
                denominator_factor: 1
                label: August 31, 20
                date: '2020-08-31'
              - numerator_factor: 7
                denominator_factor: 1
                label: June 09, 14
                date: '2014-06-09'
              - numerator_factor: 2
                denominator_factor: 1
                label: February 28, 05
                date: '2005-02-28'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/dividend-calendar:
    get:
      operationId: dividendsCalendar
      summary: Dividends Calendar
      description: Our Dividends API will show you the dividend data for stocks going back 30 years.
      tags:
      - Fundamentals
      parameters:
      - name: from
        in: query
        required: true
        description: Start date
        schema:
          type: string
      - name: to
        in: query
        required: true
        description: End date
        schema:
          type: string
      responses:
        '200':
          description: Dividends Calendar response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol Name
                  label:
                    type: string
                    description: Label Date
                  adj_dividend:
                    type: number
                    description: Adj Dividend Value
                  date:
                    type: string
                    description: Date
              example:
              - symbol: BLSR.TA
                label: January 10, 21
                adj_dividend: 517.912
                date: '2021-01-10'
              - symbol: 7200.SR
                label: January 10, 21
                adj_dividend: 0.88
                date: '2021-01-10'
              - symbol: GORO
                label: January 08, 21
                adj_dividend: 0.003
                date: '2021-01-08'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/historical-dividends/AAPL:
    get:
      operationId: historicalDividendsCalendar
      summary: Historical Dividends Calendar
      description: Our Historical Dividends API will show you the dividends data for a specific company.
      tags:
      - Fundamentals
      parameters:
      - name: symbol
        in: query
        required: true
        description: Stock symbol name
        schema:
          type: string
      responses:
        '200':
          description: Historical Dividends Calendar response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  label:
                    type: string
                    description: Label Date
                  adj_dividend:
                    type: number
                    description: Adj Dividend Value
                  dividend:
                    type: number
                    description: Dividend Value
                  record_date:
                    type: string
                    description: Record Date
                  payment_date:
                    type: string
                    description: Payment Date
                  declaration_date:
                    type: string
                    description: Declaration Date
                  date:
                    type: string
                    description: Date
              example:
              - label: November 05, 21
                adj_dividend: 0.22
                dividend: 0.22
                record_date: '2021-11-08'
                payment_date: '2021-11-11'
                declaration_date: '2021-10-28'
                date: '2021-11-05'
              - label: August 06, 21
                adj_dividend: 0.22
                dividend: 0.22
                record_date: '2021-08-09'
                payment_date: '2021-08-12'
                declaration_date: '2021-07-27'
                date: '2021-08-06'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /fnd/delisted-companies:
    get:
[...]
