openapi: 3.2.0
info:
  title: Finage Market Data Bonds API
  description: Finage is a real-time and historical market data provider covering US and global stocks, forex, cryptocurrencies, indices, ETFs, bonds, and company fundamentals. This OpenAPI was generated by API Evangelist from Finage's own machine-readable docs database (https://api.finage.co.uk/op/v1/endpoints/list — the same JSON the docs at https://finage.co.uk/docs/api render); every path, parameter, and example comes from that source. All endpoints are read-only GET requests authenticated with an apikey query parameter. Responses must be requested with gzip Accept-Encoding (the API returns 406 "GZip compression required" otherwise).
  version: 1.0.0
  contact:
    name: Finage Support
    email: support@finage.co.uk
    url: https://finage.co.uk
  x-apievangelist:
    generated: '2026-07-22'
    method: generated
    source: https://api.finage.co.uk/op/v1/endpoints/list
servers:
- url: https://api.finage.co.uk
security:
- apiKey: []
tags:
- name: Bonds
paths:
  /fnd/bonds/us/rate/{symbol}:
    get:
      operationId: bondLastRate
      summary: Bond Last Rate
      description: 'With this endpoint, you can get the latest rates (percentage) of the bonds.


        Given table below includes name and the symbol of the bonds. You can use the symbol name in the brackets to make API requests.


        US 1M(DGS1MO)

        US 3M(DGS3MO)

        US 6M(DGS6MO)

        US 1Y(DGS1)

        US 2Y(DGS2)

        US 5Y(DGS5)

        US 7Y(DGS7)

        US 10Y(DGS10)

        US 20Y(DGS20)

        US 30Y(DGS30)'
      tags:
      - Bonds
      parameters:
      - name: symbol
        in: path
        required: true
        description: Bond symbol that you want to get the last rate
        schema:
          type: string
      responses:
        '200':
          description: Bond Last Rate response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: Symbol of the bond
                  value:
                    type: number
                    description: Last rate (percentage) of the bond
                  date:
                    type: string
                    description: Last rate date.
              example:
                symbol: DGS1
                value: 0.06
                date: '2021-05-19'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key, or your plan does not include this market.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Please use your APIKey to make a request.
  schemas:
    Error:
      type: object
      description: Finage error envelope — a single error string.
      properties:
        error:
          type: string
          description: Human-readable error message.
  securitySchemes:
    apiKey:
      type: apiKey
      name: apikey
      in: query
      description: Finage API key, passed as the apikey query parameter on every request. Get one at https://moon.finage.co.uk/register.
externalDocs:
  description: Finage API documentation
  url: https://finage.co.uk/docs/api
